h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    text-align: center;
    
}
.row{

    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    
}

.row{
    background-color: black;
    color: bisque;
    text-align: center;
}